body {
    background-color: white;
    
}
nav{
    background-color: rgb(119, 6, 6);
    color:whitesmoke;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}